<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">My Orders</h3></div>
    <div class="panel-body">
      <table id="orders" class="table">
        <thead>
        <tr>
          <th></th>
          <th >Created</th>
          <th >Customer</th>
          <th>Description</th>
          <th>Total Quantity</th>
          <th>Total Price</th>
          <th >Status</th>
        </tr>
        </thead>
        <tbody>

        {{# each orders }}
        <tr>
          <td></td>
          <td>{{this.date}}<br/>
              {{this.time}}
          </td>
          <td>
            <strong>{{this.name}}</strong><br/>
            {{this.address}}<br/>
            {{this.paymentId}}
          </td>

          <td>
          {{# each this.items }}
          {{ this.qty }} x <span class="badge"> ₹ {{ this.price }}</span> : <strong>{{ this.item.title }}</strong>  <br/>
          {{/each}}
          </td>

          <td>{{this.cart.totalQty}}</td>

          <td> ₹ {{this.cart.totalPrice}}</td>

          <td>
            {{# if this.preparing }}
              <i class="fas fa-spinner"></i>
              <span class="label label-default">Preparing</span>
            {{/if}}

            {{# if this.ontheway }}
              <i class="fas fa-motorcycle"></i>
              <span class="label label-primary">On the Way</span>
            {{/if}}

            {{# if this.delivered }}
              <i class="fas fa-check"></i>
              <span class="label label-success">Delivered</span>
            {{/if}}
          </td>

          <td>

          </td>
        </tr>

        {{/each}}

        </tbody>
      </table>
    </div>
  </div>

</div>

<script src="/javascripts/orders.js"></script>

