<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" class="gr__zomato_com  no-webp" lang="en">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta content="origin" name="referrer">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<link rel="stylesheet" type="text/css" href="frontend/h-e775e64c2c4a7684b3258144800aef5b.css">
<link rel="stylesheet" type="text/css" href="frontend/h-e775e64c2c4a7684b3258144800aef5b_002.css">



</head>



<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>

<div class="wrapper">
   <div id="app">
      <div data-reactroot="" class="relative container app mtop">
         <div class="row">
            <div class="col-m-11" style="padding-right: 7px;">
               <div>
                  <div class="ui segment o2-header">

                     <div class="o2header-bottom row">
                        <div class="o2header-infotab col-s-4">
                           <div class="o2header-infotab__subtitle">Minimum Order Amount</div>
                           <div class="o2header-infotab__title">₹30</div>
                        </div>
                        <div class="o2header-infotab col-s-4">
                           <div class="o2header-infotab__subtitle">Standard Delivery Time</div>
                           <div class="o2header-infotab__title">
                              25 mins
                           </div>
                        </div>
                        <div class="o2header-infotab col-s-4">
                           <div class="o2header-infotab__subtitle">Payment Methods</div>
                           <div class="o2header-infotab__title">Cash &amp; Online</div>
                        </div>
                     </div>

                     <div class="o2header-top">
                        <div class="row">
                           <div class="col-s-14">
                              <h1>
                                Online Menu
                              </h1>
                           </div>

                        </div>
                        <div class="o2header-resinfo grey-text fontsize3">
                           Tastiest food in the town!<span style="margin: 0px 5px;"></span>
                        </div>
                     </div>

                  </div>
               </div>
               <div>
                  <div class="menu-list clearfix mt15 mb15" style="width: 781px;">
                    <!-- <div class="col-m-12 ohidden o2_nav_bar_wrapper" style="padding-left: 2px;">
                        <div class="ui secondary pointing menu o2_nav_bar" style="transform: translateX(0px);">
                        </div>
                     </div> -->

                  </div>

                  <div class="menu-container" style="">

                  {{# each products }}
                     <div id="menu_0" class="ui segment category-container">
                        <h3 style="padding-left: 10px;">{{ @key }}</h3>
                        {{# each this }}
                        <div>
                           <!--div class="category_heading" style="color: rgb(90, 90, 92);">Starters</div-->

                           <div class="ui divided items mbot0 category">
                              <div class="ui item item-view" style="cursor: pointer;">
                                 <div class="content">
                                    <div class="col-s-16" style="margin-bottom: 2px;">
                                       <div class="row">

                                          <div class="col-s-10 col-m-13" style="padding-left: 0px;">
                                             <div class="nveg tag left"  style="position: relative; top: 0px;">
                                            <img src="{{ this.imagePath }}" alt="..." style="width:100px;height:100px;" class="img-responsive">
                                             </div>
                                             <div class="header">{{ this.title }}</div>
                                             <div class="description">
                                                ₹{{ this.price }}
                                             </div>
                                          </div>
                                          <div class="col-s-6 col-m-3" style="padding-right: 0px;">
                                          <a href="/add-to-cart/{{this._id}}" class="ui basic green button add-item" role="button">Add to Cart</a>
                                          </div>
                                       
                                       </div>
                                    
                                    </div>
                                    <div class="col-s-16">
                                       <div class="row">
                                          <div class="col-s-16">
                                             <!-- react-text: 93 --><!-- /react-text -->
                                             <div class="extra price-exists">{{ this.description }}</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>

                           </div>
                        </div>
                        
                        {{/each}}

                     </div>
 

                  {{/each}}
                  
                  <div style="height: calc(-350px + 100vh);"></div>

                  </div>


               </div>
            </div>

         </div>
      </div>
   </div>
</div>



</html>
